body {
    background: rgb(82, 82, 242);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.333);
}

div {
    text-align: left;
    padding: 8px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}